.foter{
.boxx22{
    .mbb{
        font-family: Roboto;
        font-weight: 400;
        font-size: 14px;
        margin-top: 20px;
    }
padding-left: 477px;
}
.pl-700{
padding-bottom: 70px;
}
display: flex;
.box-22{
 display: flex;
 padding-left: 130px;
 padding-bottom: 32px;
 font-family: Roboto;
 font-weight: 400;
 font-size: 14px;
 gap: 30px;
 .aksiyaaa{
color: red;
}
}
.foter-box1, .nav{
display: flex;
padding-left:  130px;
gap: 83px;
padding-bottom: 51px;
font-family: Roboto;
font-weight: 500;
font-size: 14px;
color: #000;
.tex2, .tex3{
padding-top: 7px;
}
}
}
footer{
padding-top: -80px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}