.xit{
font-family: Roboto;
font-weight: 400;
font-size: 16px;
display: flex;
justify-content: start;
padding-left: 230px;
padding-top: 60px;
padding-bottom: 67px;
}
.tavar{
.one{
    .boxx{
        display: flex;
        align-items: center;
        i{
       top: 0;
       padding-top: 21px;
       margin-top: -220px;
       padding-right: 15px;
        }
        img{
        padding-top: 42px;
        padding-bottom: 54px;
        padding-left: 35px;
        padding-right: 35px;
        }
      }
      .text-one{
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 6px;
    padding-left: 20px;
    }
    .text-two{
    font-family: Roboto;
    font-weight: 400;
    font-size: 11px;
    padding-bottom: 9px;
    padding-left: 20px;
    }
    .text-pul{
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 32px;
    padding-left: 20px;
    }
}
.box{
    display: flex;
    justify-content: space-around;
    padding-bottom: 270px;
}
.one:hover{
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
border-radius: 10px;
transition: 0.3s;
}
.boxxx{
display: flex;
justify-content: space-around;
}
.razmer{
font-family: Roboto;
font-weight: 400;
color: #c4c4c4;
font-size: 12px;
padding-left: 15px;
padding-bottom: 8px;
}
.name{
font-family: Roboto;
font-weight: 400;
color: #c4c4c4;
font-size: 9px;
padding-bottom: 3px;
}
.cm{
font-family: Roboto;
font-weight: 400;
font-size: 9px;
padding-bottom: 20px;
}
.boxxx i{
padding-top: 3px;
}
}
.animsen{
transform: translateY(200px);
opacity: 0;
}
.one:hover .animsen{
transition: 0.8s;
transform: translateY(0px);
opacity: 1;
}
